In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold

In [2]:
data = pd.read_csv('dataset/20210101_RM.csv')

In [3]:
data

,PHONE_ID,timestamp,bts_id,lat,lon
0,668f7c17a62c937a75f762c7198a7fc98ed4e0e0c64ce0...,2021-01-01T17:22:55.000-03:00,CEMG1,-33.3913,-70.6222
1,780fc36e9a2bc99de12adb740e5e82b3cabba75c1ecd23...,2021-01-01T17:10:19.000-03:00,CEMG1,-33.3913,-70.6222
2,b3c52936d4f8494dae9d1158ce76951e62413d511f5fe2...,2021-01-01T00:35:04.000-03:00,CEMG1,-33.3913,-70.6222
3,a4ab622fe4c0de513c389ab475cee4ad5b5d27e07e32d9...,2021-01-01T17:22:38.000-03:00,CEMG1,-33.3913,-70.6222
4,77d8edaa34e7ac318ef33541957e9f33826dff24217636...,2021-01-01T17:11:12.000-03:00,CEMG1,-33.3913,-70.6222
...,...,...,...,...,...
49618127,a10823620f1b7942a4e41af228a92e4931ddfee9b82674...,2021-01-01T14:48:28.000-03:00,FBCA1,-33.4378,-70.6571
49618128,a10823620f1b7942a4e41af228a92e4931ddfee9b82674...,2021-01-01T15:18:28.000-03:00,FBCA1,-33.4378,-70.6571
49618129,80dc0d3f17303fd15f4dfe12dad5a421e46de711f2470f...,2021-01-01T02:51:03.000-03:00,FBCA1,-33.4378,-70.6571
49618130,1875229dbfaca4d90b0c25bdd03e7854cd42912b05a760...,2021-01-01T23:35:15.000-03:00,FBCA2,-33.4378,-70.6571
49618131,648e869fc949f5dd70e8c444a1d116085c35ea145fe9b3...,2021-01-01T04:54:11.000-03:00,MLPIF,-33.4145,-70.5971

In [4]:
size = data.shape[0]
size

49618132

In [5]:
kf = KFold()
kf.get_n_splits() #to get the amount of folds

5

In [8]:
for train_index, test_index in kf.split(data):
    print("TRAIN:", train_index, "TEST:", test_index)
    data_train, data_test = data.iloc[train_index], data.iloc[test_index]

TRAIN: [ 9923627  9923628  9923629 ... 49618129 49618130 49618131] TEST: [      0       1       2 ... 9923624 9923625 9923626]
TRAIN: [       0        1        2 ... 49618129 49618130 49618131] TEST: [ 9923627  9923628  9923629 ... 19847251 19847252 19847253]
TRAIN: [       0        1        2 ... 49618129 49618130 49618131] TEST: [19847254 19847255 19847256 ... 29770877 29770878 29770879]
TRAIN: [       0        1        2 ... 49618129 49618130 49618131] TEST: [29770880 29770881 29770882 ... 39694503 39694504 39694505]
TRAIN: [       0        1        2 ... 39694503 39694504 39694505] TEST: [39694506 39694507 39694508 ... 49618129 49618130 49618131]

In [9]:
data_train.shape

(39694506, 5)

In [10]:
data_test.shape

(9923626, 5)