In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('../dataset/20210101_RM_5million.csv')
data

,Unnamed: 0,PHONE_ID,timestamp,bts_id,lat,lon
0,0,668f7c17a62c937a75f762c7198a7fc98ed4e0e0c64ce0...,2021-01-01T17:22:55.000-03:00,CEMG1,-33.3913,-70.6222
1,1,780fc36e9a2bc99de12adb740e5e82b3cabba75c1ecd23...,2021-01-01T17:10:19.000-03:00,CEMG1,-33.3913,-70.6222
2,2,b3c52936d4f8494dae9d1158ce76951e62413d511f5fe2...,2021-01-01T00:35:04.000-03:00,CEMG1,-33.3913,-70.6222
3,3,a4ab622fe4c0de513c389ab475cee4ad5b5d27e07e32d9...,2021-01-01T17:22:38.000-03:00,CEMG1,-33.3913,-70.6222
4,4,77d8edaa34e7ac318ef33541957e9f33826dff24217636...,2021-01-01T17:11:12.000-03:00,CEMG1,-33.3913,-70.6222
...,...,...,...,...,...,...
4999995,4999995,b5b7d11d4b0cce708fea7d6a576721b5b9d9e24db0c116...,2021-01-01T14:03:02.000-03:00,LOTSF,-33.4670,-70.5583
4999996,4999996,2b6ac7c107620ea50c6104703e40d4ae36a0d728158b98...,2021-01-01T14:06:53.000-03:00,LOTSF,-33.4670,-70.5583
4999997,4999997,b4ceabb23d2e5dc23a9402fa86ff55fa79a6d285b2282a...,2021-01-01T14:01:00.000-03:00,LOTSF,-33.4670,-70.5583
4999998,4999998,675f2da96eaeb1cd2799ab996e3e3f7c248f6c8925889b...,2021-01-01T22:27:10.000-03:00,LOTSF,-33.4670,-70.5583
4999999,4999999,67458b357bb8472a088e7816e054b50a6df790b00308d8...,2021-01-01T19:54:53.000-03:00,LOTSF,-33.4670,-70.5583

In [3]:
size = data.shape[0]
size

5000000

In [4]:
data = data[['bts_id','lat','lon']]
data

        bts_id      lat      lon
0        CEMG1 -33.3913 -70.6222
1        CEMG1 -33.3913 -70.6222
2        CEMG1 -33.3913 -70.6222
3        CEMG1 -33.3913 -70.6222
4        CEMG1 -33.3913 -70.6222
...        ...      ...      ...
4999995  LOTSF -33.4670 -70.5583
4999996  LOTSF -33.4670 -70.5583
4999997  LOTSF -33.4670 -70.5583
4999998  LOTSF -33.4670 -70.5583
4999999  LOTSF -33.4670 -70.5583

[5000000 rows x 3 columns]

In [5]:
kf = KFold(n_splits=10,random_state = 0, shuffle = True)
kf.get_n_splits() #to get the amount of folds

10

In [6]:
model = tree.DecisionTreeClassifier(max_depth = 3)

In [7]:
for train_index, test_index in kf.split(data):
    #print("TRAIN:", train_index, "TEST:", test_index)
    data_train, data_test = data.iloc[train_index], data.iloc[test_index]
    
    
    model.fit(data_train[['lat','lon']],data_train['bts_id'].values.ravel())
    
    y_model = model.predict(data_test[['lat','lon']])

    print("Acuracy_score: ",accuracy_score(data_test['bts_id'],y_model))

Acuracy_score:  0.051504
Acuracy_score:  0.05161
Acuracy_score:  0.05166
Acuracy_score:  0.05163
Acuracy_score:  0.051304
Acuracy_score:  0.052282
Acuracy_score:  0.051798
Acuracy_score:  0.051698
Acuracy_score:  0.051572
Acuracy_score:  0.051322