Codigo para limpieza de los usuarios que nunca se mueven

In [1]:
# Librerias
import os # Sistema operativo
import pandas as pd # Lectura de Dataframe
import numpy as np # Calculos

In [2]:
# Importamos el dataset que tiene el cálculo de las distancias
df = pd.read_csv('../dataset/20210101_RM_jumpDist_sinSumar.csv')
df.head()

                                            PHONE_ID  jumpDist
0  00000000e3fc09803d408609f55cbf905120d3a41db564...       NaN
1  00000000e3fc09803d408609f55cbf905120d3a41db564...  1.149596
2  00000000e3fc09803d408609f55cbf905120d3a41db564...  0.000000
3  00000000e3fc09803d408609f55cbf905120d3a41db564...  3.339496
4  00000000e3fc09803d408609f55cbf905120d3a41db564...  1.874757

In [3]:
# Agrupamos las distancias por PHONE_ID y sumamos todas las distancias recorridas por cada usuario
df = df.groupby('PHONE_ID', as_index=False)['jumpDist'].sum()
df

                                                  PHONE_ID   jumpDist
0        00000000e3fc09803d408609f55cbf905120d3a41db564...  65.600687
1        0000100159b099202b52b3ee8ee7130f2c5f283591f611...   1.194997
2        00001cca3bf53b8226459edf445ca46ffae00c53d39d82...   5.902647
3        000023f38ae28f3bf87393e0cea45bd598018e7782b3fe...  83.935796
4        000024f02222fc76dfad8db70b19a6094177807362a862...   0.000000
...                                                    ...        ...
1353430  ffffa11de56df5b3ac085b7a84e90af1553d6cc604f43b...   0.000000
1353431  ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...   8.401659
1353432  ffffd2e21a16bc902e5e242aef7d68cbbb824a82b7efa8...   0.000000
1353433  ffffdecede452ab62eeeff9cfc2a57c8a8c0396c671a06...   0.000000
1353434  ffffea064367ea293c32db026f6dee34efa6c464375ac9...   1.436261

[1353435 rows x 2 columns]

In [4]:
# Creamos una columna de borrado lógico, True - cuando la suma de la distancia es 0 (no se mueve)
df['borrar'] = np.where(df['jumpDist'] != 0, False, True)
df

                                                  PHONE_ID   jumpDist  borrar
0        00000000e3fc09803d408609f55cbf905120d3a41db564...  65.600687   False
1        0000100159b099202b52b3ee8ee7130f2c5f283591f611...   1.194997   False
2        00001cca3bf53b8226459edf445ca46ffae00c53d39d82...   5.902647   False
3        000023f38ae28f3bf87393e0cea45bd598018e7782b3fe...  83.935796   False
4        000024f02222fc76dfad8db70b19a6094177807362a862...   0.000000    True
...                                                    ...        ...     ...
1353430  ffffa11de56df5b3ac085b7a84e90af1553d6cc604f43b...   0.000000    True
1353431  ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...   8.401659   False
1353432  ffffd2e21a16bc902e5e242aef7d68cbbb824a82b7efa8...   0.000000    True
1353433  ffffdecede452ab62eeeff9cfc2a57c8a8c0396c671a06...   0.000000    True
1353434  ffffea064367ea293c32db026f6dee34efa6c464375ac9...   1.436261   False

[1353435 rows x 3 columns]

In [5]:
# Contamos los datos, False: datos que no se borran / True: atos que se deben borrar
df.borrar.value_counts()

False    887159
True     466276
Name: borrar, dtype: int64

In [6]:
# Optimizamos el dataset eliminando la columna de la distancia
# Sólo mantendremos PHONE_ID y el borrado lógico
df = df.drop(columns=['jumpDist'])
df

                                                  PHONE_ID  borrar
0        00000000e3fc09803d408609f55cbf905120d3a41db564...   False
1        0000100159b099202b52b3ee8ee7130f2c5f283591f611...   False
2        00001cca3bf53b8226459edf445ca46ffae00c53d39d82...   False
3        000023f38ae28f3bf87393e0cea45bd598018e7782b3fe...   False
4        000024f02222fc76dfad8db70b19a6094177807362a862...    True
...                                                    ...     ...
1353430  ffffa11de56df5b3ac085b7a84e90af1553d6cc604f43b...    True
1353431  ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...   False
1353432  ffffd2e21a16bc902e5e242aef7d68cbbb824a82b7efa8...    True
1353433  ffffdecede452ab62eeeff9cfc2a57c8a8c0396c671a06...    True
1353434  ffffea064367ea293c32db026f6dee34efa6c464375ac9...   False

[1353435 rows x 2 columns]

In [9]:
# Cargar dataset con distancia, tiempo y velocidad
# Actualización 06/11/2022, cargamos el dataset que le limpiamos 
# las velocidades mayores a 150 km/h, hubo un error pero se soluciona
# facilmente volviendo a realizar el borrado de los que no se mueven
df2 = pd.read_csv('./complete/20210101_RM_jumpTime_jumpSpeed_clean.csv')
df2

,PHONE_ID,timestamp,bts_id,lat,lon,jumpDist,jumpTime,jumpSpeed
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0.000000,0.0,0.000000
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,1.149596,0.1227777777777777,9.363229
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0.000000,0.0330555555555555,0.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,3.339496,0.3441666666666667,9.703137
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,1.874757,0.1558333333333333,12.030529
...,...,...,...,...,...,...,...,...
49323461,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323462,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323463,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323464,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323465,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000

In [7]:
# Eliminar columnas (ya no se eliminan porque las necesitamos para las velocidades extremas)
# df2 = df2.drop(columns=['timestamp', 'bts_id', 'lat', 'lon'])

In [10]:
# Juntamos el dataset del borrado lógico con el dataset de distancia, tiempo y velocidad
# Actualización 06/11/2022: Con el dataset de las velocidades > 150km/h borradas
df3 = df.merge(df2, on = 'PHONE_ID', how = 'left')
df3

,PHONE_ID,borrar,timestamp,bts_id,lat,lon,jumpDist,jumpTime,jumpSpeed
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0.000000,0.0,0.000000
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,1.149596,0.1227777777777777,9.363229
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0.000000,0.0330555555555555,0.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,3.339496,0.3441666666666667,9.703137
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,1.874757,0.1558333333333333,12.030529
...,...,...,...,...,...,...,...,...,...
49323461,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 21:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323462,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323463,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323464,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323465,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000

In [11]:
# Verificamos que al hacer merge, se haya hecho un fill de true y false respecto al merge con PHONE_ID
df3['borrar'].isna().sum()

0

In [12]:
# Sólo para asegurarnos contamos los registros que se van a eliminar (True) y los que se mantendrán (False)
df3.borrar.value_counts()

False    37752242
True     11571224
Name: borrar, dtype: int64

In [13]:
# Eliminar los usuarios que no se mueven con la columna del borrado lógico
df3 = df3.drop(df3[df3.borrar == True].index)
df3

,PHONE_ID,borrar,timestamp,bts_id,lat,lon,jumpDist,jumpTime,jumpSpeed
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0.000000,0.0,0.000000
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,1.149596,0.1227777777777777,9.363229
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0.000000,0.0330555555555555,0.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,3.339496,0.3441666666666667,9.703137
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,False,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,1.874757,0.1558333333333333,12.030529
...,...,...,...,...,...,...,...,...,...
49323461,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 21:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323462,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323463,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323464,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323465,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,False,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000

In [14]:
# Quitamos la columna del borrado lógico
dfFinal = df3.drop(columns=['borrar'])
dfFinal

,PHONE_ID,timestamp,bts_id,lat,lon,jumpDist,jumpTime,jumpSpeed
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0.000000,0.0,0.000000
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,1.149596,0.1227777777777777,9.363229
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0.000000,0.0330555555555555,0.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,3.339496,0.3441666666666667,9.703137
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,1.874757,0.1558333333333333,12.030529
...,...,...,...,...,...,...,...,...
49323461,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323462,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323463,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323464,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000
49323465,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.5,0.000000

In [15]:
# Guardamos el dataset con los usuarios que sí son activos
# dfFinal.to_csv('../dataset/20210101_SiSeMueven.csv', index=False)
# Actualización 06/11/2022, ahora hacemos que este sea el verdadero final
dfFinal.to_csv('./complete/20210101_RM_final_06_11_2022.csv', index=False)